<link rel="stylesheet" href="/css/homeStyle.css">

<div id="home_body">   

    <section id="post-section">

        <h1>Hello</h1>
    
        <!-- checking if user is logged in  -->
        <% if (locals.user) { %>
    
            <!-- form to get user data -->
            <form action="/post/create" id="post-form" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
                <input type="submit" value="Post">
            </form>
    
    
            <!-- to display posts -->
            <div id="post_container">

                <ul>
    
                    <!-- displaying all the posts -->
                    <% for (post of posts) { %>
                            
                        <!-- adding post's partial file -->
                        <%- include('_post') %>
    
                    <% } %>
                    
                </ul>
    
            </div>
    
        <% } %>

        <%- include('_chatBox') %>
    
        
     </section>
    
    
     <!-- to show all the users -->
     <section id="friend_list">

        <div id="friends">

            <h4>Friends</h4>

        </div>

        <hr>

        <div id="all_users">

            <% if (locals.user) { %>
    
                <h4>All Users</h4>
        
                <!-- list of user in database -->
                <% for (users of all_users) { %>
                    <p>
                        <!-- link of user's profile -->
                        <a href="/user/user-profile/<%= user.id %>"><%= users.name %></a>
                    </p>
        
                <% } %>   
        
            <% } %>

        </div>
    
     </section>

     <script src="/js/home_post_comments.js"></script>
     <script src="/js/home_post.js"></script>

     <script src="/js/toggle_likes.js"></script>
     <script>
        $('.toggle-like-button').each(function(){
            let self = this;
            let toggleLike = new ToggleLike(self);
        });
     </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    
    <script src="/js/chat_engine.js"></script>
    <% if (locals.user) { %>
    <script>
        // using class created for chat engine to creating a connection with server
        new ChatEngine('chatBox','<%= user.email %>');
    </script>
    <% } %>

</div>

 