<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- include noty cdn for css and script-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    

    <link rel="stylesheet" href="/css/style.css">
    <!-- for individual style sheets of different pages -->
    <%- style%>
</head>
<body>

    <!-- including header partial -->
    <%- include('_header') %>

    <!-- for flash messages -->
    <% if (flash.success && flash.success.length > 0) { %> 
        
        <%= flash.success %>
        
    <% } %>
    
    <div id="body">
        <!-- for the variable part of the website -->
        <%- body %>
    </div>    

    <!-- including footer partial -->
    <%- include('_footer') %>

    <!-- for individual script files of different pages -->
    <%- script%>

    <script>

        <% if (flash.success && flash.success.length > 0) { %> 
            
            new Noty({
                theme:'relax',
                text: '<%= flash.success %>',
                type:'success',
                layout:'topRight',
                timeout:1500
            }).show();

        <% } %>

        <% if (flash.error && flash.error.length > 0) { %> 
            
            new Noty({
                theme:'relax',
                text: '<%= flash.error %>',
                type:'error',
                layout:'topRight',
                timeout:1500
            }).show();

        <% } %>


    </script>
</body>
</html>